@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: ABCReproVariable;
  src:
    url(/fonts/ABCReproVariable.woff2) format("woff2"),
    url(/fonts/ABCReproVariable.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #000;
  background-image: url(data:image/webp;base64,UklGRnoCAABXRUJQVlA4IG4CAABwIwCdASqrAUABPmEwlkikIyIhIAgAgAwJaW7hdrDJk52x0u8AWlsnIe+2TkPfbJyHvtk5D32ych77ZOQ99s376HHZnbZUcCdGPsILtKgWS7Xi5OQ99syJV95mf7e+80eS+/+3vvNHjbJyHvtk5D32ych77e8yt30R4bzM/2995o8l9/PHWTbYCrJtsBVk22AqyQNrxcnIe+2TkPfbJyHvtk5D32ych77ZOmWBZLteLk5D32ych77ZOQ99snIe+2TkPoX1qUWjdizUCA/58y/T2ych77ZOQ99snIe+2TkPfbJyHvtk5D32ych77ZOQ99snq7z1FT956ip+89RU/eeZLteLk5D32ych77ZOQ99snIe+2TkPfbJyHvtk5D32ych77VgAAP7/0Pof16+5v3NvzPRQvbIusBm5guRoGrAwwRQvahAAAAAF2JYEE2ZjNnkQE1Oupqx/csaCbMxmtocAAAABNHMg2SgAABb9OaxmSABTJhEAAAKFOXXedDg03/jusZRDg03/juoYfo/R+j9H6P0fo/R+j9H6P0fo/RbA+287VdlRz5de3332B7fffYHt999ge3taAAAAAAAA3wP1IgWBAtkBYLqXDtYMC6UHgupbmAAAAAAADs+Eei8YxVft3+XnT+JjK1M8iLPqyhta8XOyCrseq7MgAAAAAAAAAAAA0kxlRH+TZSUQQPvLrELjH6P0fo/R+j9H6P0fo/R+j9H6P0fo/b9JAAAAAASLz02Mfo/R+j9H6P0fo/R+j9H6P0fo/R+j9H6P0fo/R+j9H6PkQAAAAAMYbB7tm0S92zaJe7ZtEvds2iXu2IgA);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--color);
}
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: ABCReproVariable, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  padding-left: 1.25em;
  margin: 0;
  list-style-position: inside;
}
body {
  background-color: var(--background-color);
  color: var(--color);
}
